<footer>

    <div class="container text-center">
        <div class="row ">
          <div class="col">
           <p>ช่วยเหลือ(HELP)</p>
          </div>
          <div class="col">
           <a routerLink ="/product">ค้นหารายการสินค้า(SERCH)</a>
           
          </div>
          <div class="col">
            <a routerLink="/contact">ติดต่อเรา(CONTACT US)</a>
          </div>
          <div class="col">
            <a routerLink="/about">เกี่ยวกับเรา(ABOUT US)</a>
          </div>
        </div>
       
      </div>
      


</footer>

  