<div class="section">
    <h2>NIKE Football Shoes</h2>
    <div class="product-grid">
        <div class="product-item">
      <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/bce4e86b-2fba-4499-9b7a-53bbe25177e4/LEGEND+10+ELITE+FG+OLY.png">
      <p><strong>NIKE TEMPO</strong></p>
      <p><strong>จุดเด่น:</strong> ออกแบบมาเพื่อความทนทานและการควบคุมบอลที่ยอดเยี่ยม เหมาะสำหรับผู้เล่นที่ต้องการความแม่นยำและความสบายในทุกการเคลื่อนไหว</p>
      <p><strong>เทคโนโลยี:</strong> หนังจิงโจ้แท้ พร้อมพื้นรองเท้า Hyperstability ที่ให้การยึดเกาะที่ดีเยี่ยม</p>
    </div>  
  <div class="product-item">
      <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/32c4e533-1f15-472c-bb50-28570ce5e766/ZM+VAPOR+16+ELITE+FG.png">
      <p><strong>Nike Mercurial Vapor 16 Elite</strong></p>
      <p><strong>จุดเด่น:</strong> รองเท้าฟุตบอลที่ออกแบบเพื่อความเร็วสูงสุด และการตอบสนองในสนามหญ้าจริง</p>
      <p><strong>เทคโนโลยี:</strong> Flyknit และ NikeGrip ในพื้นรองเท้า เพื่อการยึดเกาะและการควบคุมที่ยอดเยี่ยม</p>
    </div>
  <div class="product-item">
      <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/29e73118-7edb-474f-ab73-3533caf5eed6/ZM+VAPOR+16+ELITE+KM+FG.png">
      <p><strong>NIKE MERCURIAL</strong></p>
      <p><strong>จุดเด่น:</strong> ให้การเคลื่อนไหวที่รวดเร็วและความแม่นยำในทุกการเล่นบนสนาม</p>
      <p><strong>เทคโนโลยี:</strong> พื้นรองเท้า Aerotrak และ Flyknit ช่วยเสริมความไวและการยึดเกาะที่ยอดเยี่ยม</p>
    </div>
  <div class="product-item">
      <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/e6917ed5-8fd3-46a6-b954-f896f15c2283/PHANTOM+GX+II+ELITE+FG.png">
      <p><strong>NIKE PHANTOM GT</strong></p>
      <p><strong>จุดเด่น:</strong> เพิ่มประสิทธิภาพในการควบคุมและการยิงที่แม่นยำ ด้วยการออกแบบที่เน้นการใช้พลังสูงสุด</p>
      <p><strong>เทคโนโลยี:</strong> โครงสร้าง Flyknit และ Generative Texture บนพื้นผิวรองเท้า เพื่อการควบคุมบอลที่ดีเยี่ยม</p>
    </div>
  <div class="product-item">
      <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/ed02a76a-c35d-4bb7-93b8-e9b4c85803a0/PHANTOM+LUNA+II+ELITE+FG.png">
      <p><strong>NIKE PHANTOM VNM</strong></p>
      <p><strong>จุดเด่น:</strong> รองเท้าที่ออกแบบเพื่อการยิงที่มีพลังและแม่นยำในทุกจังหวะ</p>
      <p><strong>เทคโนโลยี:</strong> Flywire และ HyperReactive soleplate เพื่อการยึดเกาะและความแม่นยำในการเล่น</p>
    </div>
  <div class="product-item">
      <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/6a21b16e-6647-45f3-ae73-bc770ab7a7cf/ZOOM+SUPERFLY+9+ELITE+MR+FG.png">
      <p><strong>NIKE ZOOM SUPERFLY</strong></p>
      <p><strong>จุดเด่น:</strong> ออกแบบมาเพื่อความเร็วสูงสุดและการตอบสนองทันทีในสนาม</p>
      <p><strong>เทคโนโลยี:</strong> Zoom Air unit และ Flyknit upper เพื่อเพิ่มความเร็วและการยึดเกาะในทุกการเล่น</p>
    </div>
  
