.banner {
    width: 100%;
    /* ปรับขนาดตามต้องการ */
    ;
  }
  
  .banner img {
    width: 100%;
    height:auto;
    display: flex;
  }   
.container-fluid{
text-align: center;
margin: 0  10rem;
}

nav {
    display: flex;
}

.col a{
    color: #333;
    text-decoration: none;
}

.col a:hover{
    text-decoration: underline;
    
}
