<div class="container text-center">
    <div class="row align-items-center">
        <div class="col">
            <h3>ค้นหารายการสินค้า</h3>
        </div>
        <div class="col">
            <a routerLink="/nike">
                <p>NIKE</p>
            </a>
        </div>
        <div class="col">
            <a routerLink="/adidas">
                 <p>ADIDAS</p>
                </a>
        </div>
        <div class="col">
            <a routerLink="/mizuno">
                <p>MIZUNO</p>
            </a>
        </div>

        <div class="col">
            <form class="d-flex" role="search">
                <input class="form-control " type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</div>