<!-- แถวที่ 1: รูปภาพขนาดใหญ่ -->
<div class="banner">
    <img src="https://nftcalendar.io/storage/uploads/2021/12/20/banner_2_1220202101252161bfdb813b86d.jpg" alt="Banner Image">
  </div>
  
  <!-- แถวที่ 2: แบ่งเป็น 3 ส่วน -->
  <div class="row">
    <div class="column">
        <div class="box">
        <img src="https://www.arifootballstore.com/media/catalog/product/cache/6e478a31517304dced53ac4d3f3d5560/p/r/predator_accuracy.1_l_fg_gw4574__01.jpg" > 
     <p>ADIDAS PREDATOR ACURACY.1</p>
        </div>
    </div>
    <div class="column">
        <div class="box">
      <img src="https://www.arifootballstore.com/media/catalog/product/cache/6e478a31517304dced53ac4d3f3d5560/p/r/predator_accuracy.1_l_ag_ie9453__01.jpg" >
      <p>ADIDAS PREDATOR ACURACY.1</p>
    </div>
    </div>
    <div class="column">
      <div class="box">
        <img src="https://static.nike.com/a/images/t_default/a8a13a14-c61c-4d1c-8ee2-756af9a36128/LEGEND+10+ELITE+FG+AS.png">
        <p>NIKE TEMPO</p>
      </div>
    </div>
  </div>
  
  <!-- แถวที่ 3: แบ่งเป็น 3 ส่วน -->
  <div class="row">
    <div class="column">
    
      <div class="box">
        <img src ="https://static.nike.com/a/images/t_PDP_936_v1/f_auto,q_auto:eco/5477ee47-0f7b-4ce8-ad2b-82c27aa313fb/ZM+SUPERFLY+10+ELITE+FG.png">
        <p>NIKE MERCURIAL SUPERFLY ELITE</p>
      </div>
    </div>
    <div class="column">
      <div class="box">
        <img src="https://static.nike.com/a/images/t_PDP_936_v1/f_auto,q_auto:eco/fcd04af1-7e94-4e9b-8a06-3f6ce6066c32/ZOOM+SUPERFLY+9+MDS+ELITE+FG.png">
        <p>NIKE SUPERFLY9 MERCURIAL DREAM SPEED</p>
      </div>
    </div>
    <div class="column">
      <div class="box">
        <img src="https://static.nike.com/a/images/t_PDP_936_v1/f_auto,q_auto:eco/e6917ed5-8fd3-46a6-b954-f896f15c2283/PHANTOM+GX+II+ELITE+FG.png">
        <p>Nike Phantom GX 2 Elite Electric</p>
      </div>
    </div>
   
  </div>
  
 